body, html {
    margin: 0;
    font-family: sans-serif;
    background-color:rgb(13, 15, 26);
}

.content {
    margin: 0 auto;
    width: 400px;
}

table, td, th {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 20px;
}

#content {
    width: 70%;
}
#PageTitle {
    border-radius: 38px;
    background: #e0e0e0;
    box-shadow:  -3px -3px 5px #cecece,
    4px 4px 5px #f2f2f2;
}
/* navigation*/
.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    font-family: 'Orbitron', sans-serif;
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    position: relative;
    left: -100px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
   b.active {
    font-family: 'Bangers', cursive;
    background-color: #df6519;
    color: white;
    font-size: 33px;
    padding: 14px 16px;
    float: left;
    text-align: center;
  }
  
/* END navigation*/

/* for Header*/
.header {
    padding: 25px;
    padding-top: -5px;
    text-align: left;
    background: #050812;
    color: white;
    font-size: 30px;
    
  }
  /* END Header*/