
{% extends 'base.html' %}



{% block body %}
<div class="content">
    <h1 style="text-align: center">Task List</h1>
    {% if tasks|length < 1 %}
    <h4 style="text-align: center">There are no tasks. Create one below!</h4>
    {% else %}
    <table>
        <tr>
            <th>Task</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>{{ task.content }}</td>
                <td>{{ task.date_created.date() }}</td>
                <td>
                    <a href="/delete/{{task.id}}">Delete</a>
                    <br>
                    <a href="/update/{{task.id}}">Update</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
    <!-- <div class="form">
        <form action="/" method="POST">
            <input type="text" name="content" id="content">
            <input type="submit" value="Add Task">
        </form>
    </div> -->
</div>
{% endblock %}

{% block form %}
<div class="wrap-title100 p-l-60 p-r-60 p-t-80 p-b-30">
    <form class="title100-form validate-form">
      
      <div class="wrap-title validate-input m-b-20" data-validate="Title">
        <input class="input100" type="text" name="title" placeholder="Title">
        <span class="focus-input100"></span>
      </div>

      <h1>Enter Summary: </h1>
      <div  class="wrap-content validate-input m-b-25" >
        <textarea action="/" method="POST" type="text" 
        name="content" id="content" class="textarea-content" rows="16" cols="90"> </textarea>
       
      </div>
      
      <div class="container-submit-form-btn">
        <button  type="submit" value="Add Task" class="submit-form-btn">
          Submit
        </button>
      </div>

        <button class="cancel-form-btn">
          Cancel
        </button>
      </div>
    </form>
  </div>
  {% endblock %}